      body {
        margin: 0;
        height: 100vh;
        overflow: hidden;
        background: #111 url("./hero-back.png") no-repeat / cover;
      }

      canvas {
        width: 100vw;
        height: 100vh;
        display: block;
      }

